<div class="section-container">
  <h2>
    Son Siparişler
  </h2>
  <table class="table table-dark table-hover table-color-for-orders">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Müşteri</th>
        <th>Tutar</th>
        <th>Order Placed</th>
        <th>Order Fulfield</th>
        <th>Sipariş Durumu</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of order">
        <td>{{ order.id}}</td>
        <td>{{ order.customer.name }}</td>
        <td>{{ order.total }}</td>
        <td>{{ order.placed | date: 'shortDate' }}</td>
        <td>{{ order.fulfield | date: 'shortDate' }}</td>
        <td>status</td>

      </tr>
    </tbody>
  </table>
</div>